#encoding utf-8
#extends systems.KURSSKLAD.REFERENCE.SELGROUP.templates.main
#def phData
##Scripts
     <script type="text/javascript" src="$eng_js/jquery.contextMenu.js"></script>
     <script type="text/javascript" src="$eng_js/jquery.rightClick.js"></script>
     <script type="text/javascript" src="$sps_js.KURSSKLAD/k.waresLocate.js"></script>
     <script type="text/javascript" src="$sp_js/selgroup.js"></script>

#end def

#def adminData
    <div id="dvTbl" style="float:left;position:relative;width:100%;"></div>

#end def
