#encoding utf-8
#extends systems.KURSSKLAD.REFERENCE.SELGROUP.templates.main
#def phData
##Scripts
     <script type="text/javascript" src="$sp_js/waresnoselgroup.js"></script>

#end def

#def adminData
    <div id="dvTbl" style="float:left;position:relative;width:100%;"></div>
#end def
