#encoding utf-8
#extends systems.engine_main

#def $system_help = True
#end def

#def engineData
    <script>
        #if $editPermission
            editPermission = true;
        #else
            editPermission = false;
        #end if
    </script>
    <link href="$sp_css/loadplan.css" rel="stylesheet" type="text/css" media="screen"/>
    
    <script type="text/javascript" src="$eng_js/ui.datepicker.min.js"></script>
    <script type="text/javascript" src="$eng_js/ui.droppable.min.js"></script> 
    <script type="text/javascript" src="$eng_js/i18n/ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.maskedinput-1.2.1.pack.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.rowFocus.min.js"></script>
	<script type="text/javascript" src="$eng_js/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.tablesorter.min.js"></script>    
    <script type="text/javascript" src="$eng_js/kTblScroll.min.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.formats.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.form.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.icons.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.messages.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.rightClick.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/jquery.blockUI.js"></script>
	<script type="text/javascript" src="$eng_js/ui.dialog.min.js"></script>
    <script type="text/javascript" src="$sp_js/loadplan.js"></script>
    
    <div id="dvMain" style="width:100%;position:relative;float:left;">
        <div style="height:100%;width:60%;float:left;">
            <div id="dvCars" style="width:30%;height:100%;position:relative;float:left;"></div>
            <div style="height:100%;width:1%;float:left;"></div>
            <div style="height:100%;width:69%;float:left;">
                <div id="dvCarsTasks" style="width:100%;height:50%;position:relative;float:left;"></div>
                <div id="dvCarsDocs" style="width:100%;height:50%;position:relative;float:left;"></div>
            </div>
        </div>
        <div style="height:100%;width:1%;float:left;"></div>
        <form style="height:100%;width:39%;float:left;" id="dvDocs">
            <table class="buttons">
                <thead>
                    <tr><th colspan=5>
                    <select name="whid" style="width:50%;">
                    #for $item in $datalist
                        #if $curzone == $item.OBJID
                            <option value="$item.OBJID" selected>$item.OBJNAME</option>
                        #else
                            <option value="$item.OBJID">$item.OBJNAME</option>
                        #end if
                    #end for
                    </select>
                    <input type=text name=date size=8 />
                    <button type=submit><img src="$eng_img/arrows/arrow_right.png"></button></th></tr>
                    <tr><th></th><th>Номер</th><th title="Подтип">ПТ</th><th>От</th><th>Кому</th></tr>
                </thead>
                <tbody></tbody>
                <tfoot><tr><th colspan=5 class="cnt"></th></tr></tfoot>
            </table>
        </form>
    </div>
#end def