*.pyc
*.pyo
*.bat
*.bak
*.txt
**.orig
*.gdb
*.fdb
*.fbk
*.log
.DS_Store

Thumbs.db

/.idea/*
/log/*
/session/*
/bin/*
/venv/*
/backup/*
/cert/*
/scripts/*
/session/*
/utils/*
/options/instances/*
/systems/ROBOT/build/*
/systems/TASKSERVER/*/reportmain.py
/**/help/*

/**/templates/**/*.py
!/**/templates/**/__init__.py

/exception/exception*.py
/systems/engine_main*.py

/systems/KURSSKLAD/KURSTERM/main.py
/systems/KURS/KURSTERM/OLDTERM/main.py
/systems/KURS/KURSTERM/OLDTERM/main_browser.py

/conf/engine_local_conf.py
/conf/engine_conf.py
/conf/engine_local_conf.py
