#encoding utf-8

<label for="ptype" id="labelPType" style="width:5%;"></label>
<button type="button" class="wid" id="ptype" typep=""><img src="$eng_img/actions/application_view_detail.png"></button>

<script src="$sps_js.KURSSKLAD/embed/pallettype.js"></script>
<script>
  \$(document).ready(function() {
        \$('#ptype').PalletType({flag: '$pallettype'});
  });
</script>