#encoding utf-8

<select id="wareslocfind" name="find" style="width:25%;">
    <option value="C">Код</option>
    <option value="N">Наименование</option>
    <option value="B">Штрих-код</option>
</select>
<input style="width: 70%;" type="text" value=""/>