#encoding utf-8
#if $varExists('$FilterDisplayType') and $FilterDisplayType == 'vtable'
    <tr><th id="labelWH"></th></tr>
    <tr><td><select id="whid" name="whid"></select></td></tr>
#else
    <label id="labelWH" for="whid" style="width:3%;"></label>
    <select id="whid" class="wid" name="whid"></select>
#end if

<script src="$sps_js.KURSSKLAD/embed/warehouse.js"></script>
<script>
  \$(document).ready(function() {
        \$('#whid').selectWarehouse();
  });
</script>