#encoding utf-8
#extends systems.KURSSKLAD.REFERENCE.WORKTASKRATE.templates.wtrmain

#def $system_help = False
#end def

#def wtrFilter

    <link href="$sps_css.KURSSKLAD/k.progressbar.css" rel="stylesheet" type="text/css" media="screen"/>

    ##Scripts
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.progressbar.js"></script>
    <script type="text/javascript" src="$eng_js/table-jq.js"></script>
    <script type="text/javascript" src="$eng_js/table-type.js"></script>

    <script type="text/javascript" src="$sp_js/wtrTaskObjSelGrRate.js"></script>

	<form id="frm" class="buttons">
        #include '../systems/KURSSKLAD/templates/dateperiod.tmpl'
        #include '../systems/KURSSKLAD/templates/warehouse.tmpl'
        #include '../systems/KURSSKLAD/templates/tasktype.tmpl'
		&nbsp;&nbsp;&nbsp;
        #include '../systems/KURSSKLAD/templates/selgroup.tmpl'
        &nbsp;&nbsp;&nbsp;
		<button type="submit"><img src="$eng_img/arrows/arrow_right.png"></button>
        <button type="button" title="Добавить" id="btnAdd"><img src="$eng_img/actions/add.png" border="0"></button>
	</form>
#end def

#def wtrData
    <div id="dvWH" style="float:left;position:relative;"></div>
#end def