#encoding utf-8
#extends systems.KURSSKLAD.KURSTERM.templates.main
#from systems.KURSSKLAD.cheetahutils import viewQuantity
#def mainData
    #include '../systems/KURSSKLAD/KURSTERM/SELECT/templates/taskHeader.tmpl'
    <b><u>($wcode)</u></b>$wname<br>
    $_('План'): <b>#filter Quantity$cntplan#end filter#</b> (#filter Quantity$QO#end filter#$MUCODE)<br>
    #if $varExists('$QS') and $QS and float($QS)>0.00001
        $_('Факт'):
        <a href="taskWaresClear?twid=$TWID" title="$_('Очистить')" onClick="return confirm('Вы действительно хотите начать заново?')">#filter Quantity$cntscan#end filter#</a>
        (#filter Quantity$QO#end filter#$MUCODE)
        <br>
    #end if
    #if $PNUM
        <b>$PNUM</b>($SITENAME)
    #else
        <b>$SITENAME</b>
    #end if

    <hr>
    #set $QSite = 0
    #if $varExists('$datalist')
        #for $item in $datalist
            #if $item.COUNTRYNAME
                #if $item.PRODUCERNAME
                    $item.COUNTRYNAME: <u>$item.PRODUCERNAME</u>
                #else
                    $item.COUNTRYNAME
                #end if
                <br>
            #elif $item.PRODUCERNAME
                <u>$item.PRODUCERNAME</u><br>
            #end if

            <b>#filter DateFilter2$item.PDATE#end filter#</b>: <u>#filter Quantity$item.PAMOUNT#end filter# $MUCODE</u>
            #set $QSite += float($item.QCALC)
            <br>
        #end for
    #end if

    #if $varExists('$QS') and $QS and float($QS)>0.00001
        #set $canNoSpace = False
    #else
        #set $canNoSpace = True
    #end if

    #if $TWSTAT == '5'
        <a href='task?tid=$TID'>$_('Обновить')</a><br>
    #else
        <br>
        #if $QSite > 0
            <form action='taskWares'>
                <input type=hidden name=twid value=$TWID>
                $_('Отсканируйте весовой ШК короба'):
                <br> <input type=text name=barcode id="barcode:scan">
            </form>
            <a href='taskWares?twid=$TWID&flend=H'>$_('Завершить товар')</a>
            <hr>
            ##<a href='taskWaresAmount?twid=$TWID'>$_('Ввести количество вручную')</a><br>
        #end if

        #if $canNoSpace
            #if not $PID
                <a href='taskWaresNoAmount?tid=$TID&twid=$TWID' onClick="return confirm('$_('Не хватает на ') $SITENAME\n---------------------------------\n$_('Вы уверены?')')">$_('Не хватает на ') $SITENAME</a><br>
            #end if
			<a href='taskWaresNoPlace?tid=$TID&twid=$TWID' onClick="return confirm('$_('Нет места на паллете отборки')\n---------------------------------\n$_('Вы уверены?')')">$_('Нет места на паллете отборки')</a>
		#end if                
    #end if
#end def    

