#encoding utf-8
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
   #include '../systems/KURSSKLAD/KURSTERM/SELECT/templates/taskHeader.tmpl'
   <a href="task?tid=$TID">$_('К заданию')</a>
#end def    