#encoding utf-8
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
    <form action='main'>
        $_('ШК'): <input type='text' name='barcode' id=':scan'>
    </form>
#end def


