#encoding utf-8
#extends systems.KURSSKLAD.KURSTERM.templates.main
#from systems.KURSSKLAD.cheetahutils import Quantity

#def mainData
    <u><b>$_('Все паллеты')</b></u><br>
    (<b><u>$WCODE</u></b>) $WNAME<br>

    #if $varExists('$WLINID') and $WLINID > 0
      <u>$FROMNAME</u><br>
      #filter DateFilter2 $DOCDATE #end filter# $_('№') $DOCNUM<br>
    #else
      #set $WLINID = 0
      <u>$_('Без партии поставки')</u>
    #end if

  <hr>
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>$_('Приоритет')</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="green"><b>0</b></td>
        <td><a href="waresLotIncomePriority?wid=$WID&priority=0&wlincomeid=$WLINID">$_('Обычный')</a></td>
      </tr>
      <tr>
        <td class="yellow"><b>1</b></td>
        <td><a href="waresLotIncomePriority?wid=$WID&priority=1&wlincomeid=$WLINID">$_('Высокий')</a></td>
      </tr>
      <tr>
        <td class="red"><b>2</b></td>
        <td><a href="waresLotIncomePriority?wid=$WID&priority=2&wlincomeid=$WLINID">$_('Срочный')</a></td>
      </tr>
      <tr>
        <td class="gray"><b>-1</b></td>
        <td><a href="waresLotIncomePriority?wid=$WID&priority=-1&wlincomeid=$WLINID">$_('Запрет')</a></td>
      </tr>
    </tbody>
  </table>
#end def
