#encoding utf-8
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def $system_help = True
#end def

#def mainData
    #set $toobjname = ''    
    #if $varExists('$datalist') and $datalist
        #for $item in $datalist
            <b><u>$item.clientname</u></b><br>
            #if $item.tstat == '0'
                #set $status = '-'
            #else
                #set $status = '&nbsp;'
            #end if            
                $status <a href="task?id=$item.tid">#filter DateFilter2$item.RDOCDATE#end filter# № $item.DOCNUM</a><br><br>
        #end for
    #end if
#end def    

