#encoding utf-8
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
    Товаров: $CNTWARES <br>
    Позиций: $CNTPOS <br>
    Выполнено: $CNTDONE <br>
    Частично: $CNTDONEPART <br>
    Вычерки: $CNTSKIP <br>
    <br>
    <a href="listTaskes">$_('Список заданий')</a>
#end def    

