#encoding utf-8
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def $system_help = True
#end def

#def mainData
    <br>
    <a href="menu?type=INCOME">Приход</a>
    <br>
    <a href="menu?type=BUYRETURN">Возврат от покупателя</a>
#end def
