#encoding utf-8
#from systems.KURSSKLAD.cheetahutils import viewQuantity

#extends systems.KURSSKLAD.KURSTERM.templates.main
#def mainData

    <b><u>$FROMNAME</u></b><br>
    <b>#filter DateFilter$DOCDATE#end filter#</b> №<b>$DOCNUM</b><br>
    <b>(<u>$WCODE</u>)</b>
    #if $WSGCODE
        = $WSGCODE <br>
    #end if
    $WNAME<br>
    ##<a href = "taskWaresAdd?tid=$tid&wid=$wid" title="$_('Добавить')"><img src="$sps_img.KURSTERM/add.gif"  border="0"></a></br>
    #if $varExists('$ALCOALGO') and $ALCOALGO
        ##$varExists('$IS_ALCO') and $IS_ALCO == '1'
        #if $ALCOALGO == 'N'
            <a href = "taskWaresAddEgaisPrDate?tid=$tid&wid=$wid" title="$_('Добавить')"><img src="$sps_img.KURSTERM/add.gif"  border="0"></a></br>
        #else
            <a href = "taskWaresAdd?tid=$tid&wid=$wid" title="$_('Добавить')"><img src="$sps_img.KURSTERM/add.gif"  border="0"></a></br>
            ##<a href = "taskWaresAddAlcoPal?tid=$tid&wid=$wid" title="$_('Добавить')"><img src="$sps_img.KURSTERM/add.gif"  border="0"></a></br>
        #end if
    #else
        <a href = "taskWaresAdd?tid=$tid&wid=$wid" title="$_('Добавить')"><img src="$sps_img.KURSTERM/add.gif"  border="0"></a></br>
    #end if
    <br>
    #if $VWUID
        <b>$VWUCODE = #filter Quantity$VWUFACTOR#end filter# $MWUCODE </b>
    #end if
    #if $varExists('$ZID') and $ZID
        <br><font color="gray">($ZNAME)</font>
    #end if
    <br><br>
    #if $varExists('$datalist') and $datalist
       #set $qplan = 0
       #set $qfact = 0
       #for $item in $datalist
            #set $qplan += $item.QPLAN
            #set $qfact += $item.QFACT
            #filter DateFilter2$item.PRDATE#end filter#-#filter DateFilter2$item.PRDATETO#end filter#<br>
            $viewQuantity($item.QFACT,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE)<b><u>(#filter Quantity$item.QFACT#end filter#)</u></b>$_(' из')
            $viewQuantity($item.QPLAN,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE)<b><u>(#filter Quantity$item.QPLAN#end filter#)</u></b><br><br>
       #end for
       <p><b>$_('Итого:')</b> $viewQuantity($qplan,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE) <b><u>(#filter Quantity$qplan#end filter#)</u></b>-
       $viewQuantity($qfact,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE) <b><u>(#filter Quantity$qfact#end filter#)</u></b></p>
    #end if
#end def
