#encoding utf-8
#from systems.KURSSKLAD.cheetahutils import viewQuantity

#extends systems.KURSSKLAD.KURSTERM.templates.main
#def mainData
    <b><u>$FROMNAME</u></b><br>
    <b>#filter DateFilter$DOCDATE#end filter#</b> №<b>$DOCNUM</b><br>
    #if not $varExists('$THEBC')  or not $THEBC
        <b>(<u>$WCODE</u>)</b>
        #if $WSGCODE
            = $WSGCODE <br>
        #end if
        $WNAME
        <br>
        #if $VWUID
            <b>$VWUCODE = #filter Quantity$VWUFACTOR#end filter# $MWUCODE </b>
        #end if
        #if $varExists('$ZID') and $ZID
            <br><font color="gray">($ZNAME)</font>
        #end if
        <br>
    #end if

    #if $varExists('$THEBC') and $THEBC
        <hr>
        #include '../systems/KURSSKLAD/KURSTERM/templates/include_gs1.tmpl'
        <hr>
    #end if

    <form action="taskWaresAddGS1Box" method=post>
        <input type="hidden" name="tid" value="$tid">
        <input type="hidden" name="wid" value="$wid">
        #set $amount = 0
        #for $item in $args:
            #if $item[:3] == 'pd_':
                <input type="hidden" name="$item" value="$args[$item]">
                $item[3:] = <b>#filter Quantity$args[$item]#end filter#</b><br>
                #set $amount = $amount + float($args[$item])
            #elif $item == 'cntscan'
                <input type="hidden" name="$item" value="$args[$item]">
            #end if
        #end for
        #if $amount > 0.00001
            $_('Всего') = <b>#filter Quantity$amount#end filter#</b><br>
            #if $varExists('$args') and $args.has_key('cntscan')
                $_('ШК') = <b>$args['cntscan']</b><br>
            #end if
        #end if

        <br>
        $_('Отсканируйте ШК короба поставщика в формате GS1_128 или паллетную этикетку'): <br>
    	<input type="text" id="barcode:scan:text" name="barcode" class="scanBarcode"><br>
	</form>
	<a href="taskWaresAddBack?tid=$tid&wid=$wid">$_('Прервать приемку')</a>
#end def
