#encoding utf-8
#from systems.KURSSKLAD.cheetahutils import viewQuantity

#extends systems.KURSSKLAD.KURSTERM.templates.main
#def mainData
    <b><u>$FROMNAME</u></b><br>
    <b>#filter DateFilter$DOCDATE#end filter#</b> №<b>$DOCNUM</b><br>
    <b>(<u>$WCODE</u>)</b>
    #if $WSGCODE
        = $WSGCODE <br>
    #end if
    $WNAME
    <br>
    #if $VWUID
        <b>$VWUCODE = #filter Quantity$VWUFACTOR#end filter# $MWUCODE </b>
    #end if
    <br><br>
    <form action="taskWaresAddAlcoPal" method=post>
        <input type="hidden" name="tid" value="$tid">
        <input type="hidden" name="wid" value="$wid">
        $_('Отсканируйте ШК паллета поставщика в формате GS1_128'): <br>
    	<input type="text" id="barcode:scan:text" name="barcode" class="scanBarcode"><br>
	</form>
	<a href="taskWaresAddAlcoBox?tid=$tid&wid=$wid">$_('На паллете поставщика нет ШК  таком формате')</a>
#end def
