#encoding utf-8
#from systems.KURSSKLAD.cheetahutils import Quantity
#from systems.KURSSKLAD.cheetahutils import coalesceValue
#from systems.KURSSKLAD.cheetahutils import formatFloat
#from systems.KURSSKLAD.cheetahutils import Triada
#from systems.KURSSKLAD.cheetahutils import TimeStampToDate
#from systems.KURSSKLAD.numInWords import numInWords
#from systems.KURSSKLAD.numInWords import monthInWord
#from datetime_utils import formatMxDateTime
#import math

    <div class="up_stamp">
        Унифицированная форма № ТОРГ-12<br/>
        Утверждена постановлением Госкомстата<br/>
        России от 25.12.98 № 132
    </div>
    <div class="time_and_bc" style="width: 115mm; float: right; margin-right: 33mm;">
        <table>
            <tbody>
                <tr>
                    <td style="vertical-align: bottom;">Время получения/отгрузки товара:</td>
                    <td style="border-bottom:1px solid #000000; width:20mm; white-space: nowrap; vertical-align: bottom;">
                        #if $doc.docdateincomereturn
                            $formatMxDateTime($doc.docdateincomereturn, '%d.%m.%y %H:%M')
                        #end if                         
                    </td>
                    <td style="width:18mm;"></td>
                    <td class="barcode">*$prefix$formatFloat($doc.DocId, 0)*</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td>ШК $prefix$formatFloat($doc.DocId, 0)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="table_1" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td colspan="3"></td>
                <td style="text-align:center; font-size:10pt; border:1px solid #000000; width:20mm;">Код</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px;">Форма по ОКУД</td>
                <td style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000;">0330212</td>
            </tr>
            <tr>
                #set $fromobjInfo = $doc.fromOwnerFullName
                #if $doc.fromINN
                    #set $fromobjInfo += ', ИНН '+str($formatFloat($doc.fromINN, 0))
                #end if                
                #if $doc.fromowneraddress
                    #set $fromobjInfo += ', '+$doc.fromowneraddress
                #end if
                #if $doc.fromPhones
                    #set $fromobjInfo += ', тел. '+$doc.fromPhones
                #end if
                #if $doc.fromBankAccountFull
                    #set $fromobjInfo += ', '+$doc.fromBankAccountFull
                #end if
                
                #set $fromobjInfoChild = ''
                #if $doc.fromOwnerFullName != $doc.fromObjName
                    #set $fromobjInfoChild = $doc.fromObjName
                #end if
                
                #if $doc.frmprintdata != ''
                    #set $fromobjInfo = $doc.frmprintdata
                #end if
                
                
   
                <td colspan="2" style="border-bottom:1px solid #000000; font-size:8pt; text-align:left; vertical-align:bottom;">$fromobjInfo</td>
                <td style="text-align:right; vertical-align:bottom; font-size:9pt; width:14mm; padding-right: 4px;">по ОКПО</td>
                <td style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000;">$coalesceValue($doc.fromOKPO)</td>
            </tr>
            <tr>
                <td class="sub_text" colspan="3" style="height:2.5mm;">(организация-грузоотправитель, адрес, телефон, факс, банковские реквизиты)</td>
                <td rowspan="2" style="text-align:center; font-size:10pt; border:1px solid #000000; width:20mm; height:2.5mm;"></td>
            </tr>
            <tr>
                <td colspan="3" style="font-size:9pt; height:2.5mm; border-bottom:1px solid #000000; text-align:left;">$fromobjInfoChild</td>
            </tr>
            <tr>
                <td class="sub_text" colspan="2" style="height:2.5mm;">(структурное подразделение)</td>
                <td rowspan="2"></td>
                <td rowspan="2" style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000; width:20mm; height:2.5mm;"></td>
            </tr>
            <tr>
                <td colspan="3" style="height:2.5mm; text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px;">Вид деятельности по ОКДП</td>
            </tr>
            <tr>
                <td style="font-size:8pt;  text-align:right; vertical-align:bottom; padding-left:10px; width:23mm; padding-right:2mm;">Грузополучатель</td>
                #set $toobjInfo = $doc.toOwnerFullName
                #if $doc.toINN
                    #set $toobjInfo += ', ИНН '+str($formatFloat($doc.toINN, 0))
                #end if                
                #if $doc.toowneraddress
                    #set $toobjInfo += ', '+$doc.toowneraddress
                #end if
                #if $doc.toPhones
                    #set $toobjInfo += ', тел. '+$doc.toPhones
                #end if
                #if $doc.toBankAccountFull
                    #set $toobjInfo += ', '+$doc.toBankAccountFull
                #end if
                
                #set $fromobjInfoChild = ''
                #if $doc.fromOwnerFullName != $doc.fromObjName
                    #set $fromobjInfoChild = $doc.fromObjName
                #end if
                #set $toobjInfoChild = ''
                #if $doc.toOwnerFullName != $doc.TOOBJNAME
                    #set $toobjInfoChild = ', ' + $doc.TOOBJNAME
                    #if $doc.toaddress
                        #set $toobjInfoChild += ', '+$doc.toaddress
                    #end if
                #end if
                #if $doc.toprintdata
                    #set $toobjInfo = $doc.toprintdata
                #elif $doc.jurprintdata
                    #set $toobjInfo = $doc.jurprintdata
                #end if
                
                <td style="border-bottom:1px solid #000000; font-size:8pt; text-align:left; vertical-align:bottom;">$toobjInfo</td>
                <td style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px;">по ОКПО</td>
                <td style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000; width:20mm; height:2.5mm;">$coalesceValue($doc.toOKPO,$coalesceValue($doc.jurOKPO))</td>
            </tr>
            <tr>
                <td class="sub_text" colspan="2" style="height:2.5mm;">(организация, адрес, телефон, факс, банковские реквизиты)</td>
                <td rowspan="2" style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px;">по ОКПО</td>
                <td rowspan="2" style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000; width:20mm; height:2.5mm;">$coalesceValue($doc.fromOKPO)</td>
            </tr>
            <tr>
                <td style="font-size:9pt; text-align:right; vertical-align:bottom; padding-left:10px; width:23mm; padding-right:2mm; height: 2.5mm;">Поставщик</td> 
                <td style="border-bottom:1px solid #000000; font-size:8pt; text-align:left; vertical-align:bottom; height: 2.5mm;">$doc.frmprintdata</td>
            </tr>
            <tr>
                <td class="sub_text" colspan="2" style="height:2.5mm;">(организация, адрес, телефон, факс, банковские реквизиты)</td>
                <td rowspan="2" style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px;">по ОКПО</td>
                <td rowspan="2" style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000; width:20mm; height:2.5mm;">$coalesceValue($doc.toOKPO,$coalesceValue($doc.jurOKPO))</td>
            </tr>
            <tr>
                <td style="font-size:9pt; text-align:right; vertical-align:bottom; padding-left:10px; width:23mm; padding-right:2mm; height: 2.5mm;">Плательщик</td>
                <td style="border-bottom:1px solid #000000; font-size:8pt; text-align:left; vertical-align:bottom; height: 2.5mm;">$toobjInfo</td>
            </tr>
            <tr>
                <td class="sub_text" colspan="2" style="height:2.5mm;">(организация, адрес, телефон, факс, банковские реквизиты)</td>
                <td rowspan="2" style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px; border:1px solid #000000;">номер</td>
                <td rowspan="2" style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000; width:20mm; height:2.5mm;"></td>
            </tr>
            <tr>
                <td style="font-size:9pt; text-align:right; vertical-align:bottom; padding-left:10px; width:23mm; padding-right:2mm; height: 2.5mm;">Основание</td>
                <td style="border-bottom:1px solid #000000; font-size:9pt; text-align:left; vertical-align:bottom; height: 2.5mm;">&nbsp;</td>
            </tr>
            <tr>
                <td class="sub_text" colspan="2" style="height:2.5mm;">(договор, заказ-наряд)</td>
                <td style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px; border:1px solid #000000;">дата</td>
                <td style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000; width:20mm; height:2.5mm;"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px;">Транспортная накладная</td>
                <td style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px; border:1px solid #000000;">номер</td>
                <td style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000;">##$doc.docnum</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px; border:1px solid #000000;">дата</td>
                <td style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000;">##$TimeStampToDate($doc.docdate)</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right; vertical-align:bottom; font-size:9pt; padding-right: 4px;">Вид операции</td>
                <td style="text-align:center; font-size:9pt; font-weight:bold; border:1px solid #000000;"></td>
            </tr>
        </tbody>
    </table>
    <div class="order_title">
        <table class="title_table" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td rowspan="2" style="font-size:9pt; font-weight: bold; vertical-align:bottom; border:0; text-align:right; padding-right:2mm;">ТОВАРНАЯ НАКЛАДНАЯ</td>
                    <td style="width:28mm; border-right:0; border-bottom:0; font-size:8pt;">Номер документа</td>
                    <td style="width:28mm; border-bottom:0; font-size:8pt;">Дата составления</td>
                </tr>
                <tr>
                    <td style="border-width:1px; border-right:0;">$doc.docnum</td>
                    <td style="border-width:1px;">$TimeStampToDate($doc.docdate)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page_number">Cтраница 1</div>
    #set $amtWares = len($wares)
    #set $amtFPage = 7
    #set $amtOPage = 29
    #set $amtLPage = 10
    
    #set $curPage = 0
    #set $maxNumber = $amtFPage - 1
    #set $newPage = 1
    #set $breakPage = ''
    
    #set $AmountPage = 1
    #set $sum1 = 0
    #set $sum2 = 0
    #set $sum3 = 0
    #set $sum4 = 0
    #set $sum5 = 0
    #set $sum6 = 0    
    
    #set $gsum1 = 0
    #set $gsum2 = 0
    #set $gsum3 = 0
    #set $gsum4 = 0
    #set $gsum5 = 0
    #set $gsum6 = 0    
    
    #for $i in range($amtWares)
        #set $Number = $i+1
        #if $newPage == 1
            #if $maxNumber < ($amtWares-1)
                #set $breakPage = 'page-break-after:always;'
                #set $AmountPage = $AmountPage + 1
            #else
                #set $breakPage = ' '
            #end if     
        
            <table class="order_table" cellpadding="0" cellspacing="0" border="0" style="$breakPage">
                <thead>
                    <tr>
                        <td rowspan="2" style="border-left:1px solid #000000;">Но-<br/>мер<br/>по по-<br/>рядку</td>
                        <td colspan="2">Товар</td>
                        <td colspan="2">Единица<br/>измерения</td>
                        <td rowspan="2">Вид<br/>упаков-<br/>ки</td>
                        <td colspan="2">Количество</td>
                        <td rowspan="2">Масса<br/>брутто</td>
                        <td rowspan="2">Количест-<br/>во<br/>(Масса<br/>нетто)</td>
                        <td rowspan="2" style="width:24mm;">Цена,<br/>руб. коп.</td>
                        <td rowspan="2">Сумма без<br/>учета НДС,<br/>руб. коп.</td>
                        <td colspan="2">НДС</td>
                        <td rowspan="2">Сумма с учетом<br/>НДС,<br/>руб. коп.</td>
                    </tr>
                    <tr>
                        <td>наименование,<br/>характеристика, сорт, артикул<br/>товара</td>
                        <td>код</td>
                        <td>наиме-<br/>нование</td>
                        <td>код по<br/>ОКЕИ</td>
                        <td>в одном<br/>месте</td>
                        <td>мест,<br/>штук</td>
                        <td>ставка,<br/>%</td>
                        <td>сумма,<br/>руб. коп.</td>
                    </tr>
                    <tr class="col_number" style="height:4mm;">
                        <td style="border-left:1px solid #000000;">1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                    </tr>
                </thead>
                <tbody>
                
            #set $newPage = 0
        #end if 
        
        <tr>
            <td class="tdSize" style="border-left:1px solid #000000;">$Number</td>
            <td style="text-align:left;">$wares[$i].NAME</td>
            <td>$wares[$i].CODE</td>
            <td>$wares[$i].MAINUCODE</td>
            <td>##$wares[$i].MUOKEI</td>
            <td>&nbsp;</td>## Вид упаковки
            <td>&nbsp;</td>## В одном месте
            <td>&nbsp;</td>## мест, штук
            <td>&nbsp;</td>## масса, брутто
            <td>$Quantity($wares[$i].AMOUNT)</td>
            <td>$Triada($formatFloat($wares[$i].PRICEFREE,2))</td>
            <td class='textright'>$Triada($formatFloat($wares[$i].NDSFREE,2))</td>
            <td>$Quantity($wares[$i].NDSPER)</td>
            <td class='textright'>$Triada($formatFloat($wares[$i].NDS,2))</td>
            <td class='textright'>$Triada($formatFloat($wares[$i].DOCSUM,2))</td>
        </tr>
        
        #set $sum1 = $sum1 + 0
        #set $sum2 = $sum2 + 0
        #set $sum3 = $sum3 + float($wares[$i].AMOUNT)
        #set $sum4 = $sum4 + float($wares[$i].NDSFREE)
        #set $sum5 = $sum5 + float($wares[$i].NDS)
        #set $sum6 = $sum6 + float($wares[$i].DOCSUM)
        
        #if $i == $maxNumber 
            #set $newPage = 1
            
            #if ($maxNumber + $amtOPage) < $amtWares-1
                #set $maxNumber = $maxNumber + $amtOPage
            #else    
                #if ($maxNumber + $amtLPage) >= $amtWares-1
                    #set $maxNumber = $maxNumber + $amtLPage
                #else    
                    #set $maxNumber =  $amtWares-2
                #end if
            #end if
        #end if
        
        
        #if $newPage == 1 or $i == ($amtWares-1)
            #set $gsum1 = $gsum1 + $sum1
            #set $gsum2 = $gsum2 + $sum2
            #set $gsum3 = $gsum3 + $sum3
            #set $gsum4 = $gsum4 + $sum4
            #set $gsum5 = $gsum5 + $sum5
            #set $gsum6 = $gsum6 + $sum6
        
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="border:0;"></td>
                        <td style="border:0;"></td>
                        <td style="border:0;"></td>
                        <td colspan="3" style="text-align:right; padding-right:5px; border:0; border-right:1px solid #000000;">Итого</td>
                        <td>$Quantity($sum1)</td>
                        <td>$Quantity($sum2)</td>
                        <td>$Quantity($sum3)</td>
                        <td>X</td>
                        <td class='textright'>$Triada($formatFloat($sum4,2))</td>
                        <td>X</td>
                        <td class='textright'>$Triada($formatFloat($sum5,2))</td>
                        <td class='textright'>$Triada($formatFloat($sum6,2))</td>
                    </tr>
                    
                    #if $i == ($amtWares-1)
                        <tr style="border:0;">
                            <td colspan="7" style="text-align:right; padding-right:5px; border:0; border-right:1px solid #000000;">Всего по накладной</td>
                            <td>$Quantity($gsum1)</td>
                            <td>$Quantity($gsum2)</td>
                            <td>$Quantity($gsum3)</td>
                            <td>X</td>
                            <td class='textright'>$Triada($formatFloat($gsum4,2))</td>
                            <td>X</td>
                            <td class='textright'>$Triada($formatFloat($gsum5,2))</td>
                            <td class='textright'>$Triada($formatFloat($gsum6,2))</td>
                        </tr>
                    #end if
                </tfoot>
            </table>   

            #set $sum1 = 0
            #set $sum2 = 0
            #set $sum3 = 0
            #set $sum4 = 0
            #set $sum5 = 0
            #set $sum6 = 0   
        #end if
    #end for
    
    <div style="display:inline-block;page-break-inside:avoid;">
        <div class="stamp">
            <table class="total_table1" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td colspan="2">Товарная накладная имеет приложение на</td>
                        <td style="text-align: center; width:110mm; border-bottom:1px solid #000000;">$AmountPage</td>
                        <td>листах</td>
                    </tr>
                    <tr style="vertical-align: bottom;">
                        <td>и содержит</td>
                        <td colspan="2" style="border-bottom:1px solid #000000; height:6mm;text-align:center;">$numInWords($amtWares)</td>
                        <td>порядковых номеров записей</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="sub_text" colspan="2" style="height:2.5mm;">(прописью)</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="stamp">
            <table class="total_table2" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td colspan="3" style="padding-right: 2mm; text-align: right;">Масса груза (нетто)</td>
                        <td style="border-bottom:1px solid #000000; width:100mm;"></td>
                        <td style="width:2mm;"></td>
                        <td style="width:46mm; height:6mm; border-color: #000000; border-style: solid; border-width: 1px 1px 1px;"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="sub_text" style="height:2.5mm;">(прописью)</td>
                        <td></td>
                        <td rowspan="2" style="width:46mm; border-color: #000000; border-style: solid; border-width: 0px 1px 1px 1px;"></td>
                    </tr>
                    <tr>
                        <td>Всего мест</td>
                        <td style="border-bottom:1px solid #000000; width:44mm;"></td>
                        <td style="padding-right: 2mm; text-align: right;">Масса груза (нетто)</td>
                        <td style="border-bottom:1px solid #000000; width:100mm;"></td>
                        <td style="width:2mm;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="sub_text" style="height:2.5mm;">(прописью)</td>
                        <td></td>
                        <td class="sub_text" style="height:2.5mm;">(прописью)</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="stamp">
            <table class="lb_stamp" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="padding-right: 2mm; text-align: left; width:66mm;">Приложение (паспорта, сертификаты и т.п.) на</td>
                                        <td style="border-bottom:1px solid #000000; width:55mm;"></td>
                                        <td style="padding-left:2mm; text-align:right;">листах</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(прописью)</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        #set $kop = ($gsum6-$math.floor($gsum6))*100
                                        #if $kop > $math.floor($kop) + 0.5
                                            #set $kop = $int($math.ceil($kop))
                                        #else
                                            #set $kop = $int($math.floor($kop))
                                        #end if
                                        <td style="text-align: left; width:34mm;"><b>Всего отпущено на сумму</b></td>
                                        <td style="border-bottom:1px solid #000000; width:85mm; text-align:center;"><b>$numInWords(int($gsum6))</b></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(прописью)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="border-bottom:1px solid #000000; width:93mm; height:5mm;"></td>
                                        <td style="text-align: left;">руб.</td>
                                        <td style="border-bottom:1px solid #000000; width:17mm; height:5mm; text-align:center;">$kop</td>
                                        <td style="text-align: left;">коп.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="text-align: left; width:33mm; height:4mm;">Отпуск груза разрешил</td>
                                        <td style="border-bottom:1px solid #000000; width:25mm; text-align:center;"></td>
                                        <td></td>
                                        <td style="border-bottom:1px solid #000000; width:27mm;"></td>
                                        <td></td>
                                        <td style="border-bottom:1px solid #000000; width:42mm; text-align:center;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(должность)</td>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(подпись)</td>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(расшифровка подписи)</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: left; width:30mm; height:4mm;">Главный (старший) бухгалтер</td>
                                        <td style="border-bottom:1px solid #000000; width:27mm;"></td>
                                        <td></td>
                                        <td style="border-bottom:1px solid #000000; width:42mm; text-align:center;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(подпись)</td>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(расшифровка подписи)</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; width:30mm; height:4mm;">Отпуск груза произвел</td>
                                        <td style="border-bottom:1px solid #000000; width:25mm; text-align:center;"></td>
                                        <td></td>
                                        <td style="border-bottom:1px solid #000000; width:27mm;"></td>
                                        <td></td>
                                        <td style="border-bottom:1px solid #000000; width:42mm; text-align:center;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(должность)</td>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(подпись)</td>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(расшифровка подписи)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="padding-left:16mm; margin-top: 3mm;">
                                <tbody>
                                    <tr>       
                                        #set $shipmentDate = $TimeStampToDate($doc.docdate).split('.')
                                        <td style="font-size:10pt; padding-right:9mm;">М.П.</td>
                                        <td style="text-align: left;">«</td>
                                        <td style="border-bottom:1px solid #000000; width:6mm; text-align:center;"></td>
                                        <td style="text-align: right; padding-right:4mm;">»</td>
                                        <td style="border-bottom:1px solid #000000; width:21mm; text-align:center;"></td>
                                        <td style="width:4mm;"></td>
                                        <td style="border-bottom:1px solid #000000; width:8mm; text-align:center;"></td>                                
                                        <td style="padding-left:4px;">года</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="rb_stamp" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="padding-right: 2mm; text-align: left;">По доверенности №</td>
                                        <td style="border-bottom:1px solid #000000; width:37mm;"></td>
                                        <td style="padding-left:2mm; text-align:right;">от «</td>
                                        <td style="border-bottom:1px solid #000000; width:10mm;"></td>
                                        <td style="text-align:right; padding-right:2mm;">»</td>
                                        <td style="border-bottom:1px solid #000000; width:25mm;"></td>
                                        <td style="width:2mm;"></td>
                                        <td style="border-bottom:1px solid #000000; width:10mm;"></td>
                                        <td style="text-align:right;">года,</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="sub_text" style="height:2.5mm;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="text-align: left;">выданной</td>
                                        <td style="border-bottom:1px solid #000000; width:118mm;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(кем, кому (организация, должность, фамилия, и., о.))</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom:3mm;">
                                <tbody>
                                    <tr>
                                        <td style="border-bottom:1px solid #000000; width:100%; height:5mm;"></td>                                
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td colspan="6" style="border-bottom:1px solid #000000; width:25mm; height:4mm;"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; width:30mm; height:9mm;">Груз принял</td>
                                        <td style="border-bottom:1px solid #000000; width:23mm;"></td>
                                        <td></td>
                                        <td style="border-bottom:1px solid #000000; width:23mm;"></td>
                                        <td></td>
                                        <td style="border-bottom:1px solid #000000; width:50mm;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(должность)</td>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(подпись)</td>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(расшифровка подписи)</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom:4mm;">
                                <tbody>
                                    <tr>
                                        <td style="text-align: left; height:4mm;">Груз получил грузополучатель</td>
                                        <td style="border-bottom:1px solid #000000; width:32mm;"></td>
                                        <td></td>
                                        <td style="border-bottom:1px solid #000000; width:16mm;"></td>
                                        <td></td>
                                        <td style="border-bottom:1px solid #000000; width:32mm;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="sub_text" style="height:2.5mm;">(должность)</td>
                                        <td style="width:3.5mm;"></td>
                                        <td class="sub_text" style="height:2.5mm;">(подпись)</td>
                                        <td style="width:2mm;"></td>
                                        <td class="sub_text" style="height:2.5mm;">(расшифровка подписи)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            <table cellpadding="0" cellspacing="0" style="padding-left:2mm;">
                                <tbody>
                                    <tr>
                                        <td style="font-size:10pt; padding-right:9mm;">М.П.</td>
                                        <td style="text-align: left;">«</td>
                                        <td style="border-bottom:1px solid #000000; width:6mm; text-align:center;"></td>
                                        <td style="text-align: right; padding-right:4mm;">»</td>
                                        <td style="border-bottom:1px solid #000000; width:21mm; text-align:center;"></td>
                                        <td style="width:4mm;"></td>
                                        <td style="border-bottom:1px solid #000000; width:8mm; text-align:center;"></td>
                                        <td style="padding-left:4px;">года</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>