#encoding utf-8
#extends systems.KURSSKLAD.REFERENCE.SHOPS.templates.main
#def phData
##Scripts
    <link href="$sp_css/shops.css" rel="stylesheet" type="text/css" media="screen"/>

    <script type="text/javascript" src="$sp_js/shops.js"></script>
    <script type="text/javascript" src="$sp_js/shopschng.js"></script>
    <script type="text/javascript" src="$sp_js/shopsentchng.js"></script>

#end def

#def adminData
    <div id="dvScreen" style="float:left;position:relative;width:100%;"></div>
#end def
