#encoding utf-8
#extends systems.KURSSKLAD.REFERENCE.TRUCK.templates.main

#def adminData


<script type="text/javascript" src="$sps_js.KURSSKLAD/table-type.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/table-jq.js"></script>
<link href="$sp_css/cars.css" rel="stylesheet" type="text/css" media="screen"/>
<script type="text/javascript" src="$sp_js/cars.js"></script>



<div id="dvScreen" style="float:left; position:relative; text-align: center;"></div>
#end def
