#encoding utf-8
#from systems.KURSSKLAD.cheetahutils import viewQuantity

#extends systems.KURSSKLAD.KURSTERM.templates.main
#def mainData

    <b><u>$FROMNAME</u></b><br>
    #if $TONAME
        $TONAME<br>
    #end if
    <b>#filter DateFilter$DOCDATE#end filter#</b> №<b>$DOCNUM</b><br>
    <b>(<u>$WCODE</u>)</b> $WNAME <br>
    #if $VWUID
        <b>$VWUCODE = #filter Quantity$VWUFACTOR#end filter# $MWUCODE </b>
    #end if
    <br>
    #if $varExists('$PNUM') and $PNUM
		<b><u>$PNUM</u></b>($SNAME)
	#else
		<b>$SNAME</b>
	#end if
    <br>
    #if $varExists('$qdoc')
        $_('План'): $viewQuantity($qdoc,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE) <b>(<u>#filter Quantity$qdoc#end filter#</u>)</b>
        <br>
    #end if
    #if $varExists('$qfact')
        $_('Факт'): $viewQuantity($qfact,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE) <b>(<u>#filter Quantity$qfact#end filter#</u>)</b>
        <br>
        #if $cntbox
            $_('Короба')=$cntbox<br>
        #end if
        #if $cntmark
            $_('Марки')=$cntmark<br>
        #end if
    #end if

    <hr>
    #if $varExists('$datalist')
        <form action=dfsTaskWaresPalletEgaisSave method=post>
            <input type=hidden name=tid value=$TID>
            <input type=hidden name=pid value=$PID>
            <input type=hidden name=wid value=$WID>
            <input type=hidden name=ctm value="$dbCurrentTimestamp()">
            $_('ШК Короба или марки ЕГАИС'): <input type='text' name='barcode' id='barcode:scan' size=6>
            <input type=submit value=Ok />
        </form>
    #end if
    <hr>
    #for $item in $datalist
        #if $item.SUPPLIER
            #filter DateFilter2$item.DOCDATE#end filter# $item.DOCNUM
            <br>
            <u>$item.SUPPLIER</u>
            <br>
        #end if
        #if $item.WLINCOMEID
            #set $name = 'WL_%s_%s' % ($item.WLOTID, $item.WLINCOMEID)
        #else
            #set $name = 'WL_%s_%s' % ($item.WLOTID, 0)
        #end if
        #filter DateFilter2$item.productdate#end filter#=<a href="#" title="$item.WLNUMBER">$viewQuantity($item.AMOUNT,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE)</a>(<b><u>#filter Quantity$item.AMOUNT#end filter#</u></b>)
        <br>
    #end for
#end def
