#encoding utf-8
#extends systems.engine_main

#def $system_help = False
#end def

#def systemNavigation
<link rel="stylesheet" type="text/css" media="screen" href="$sps_css.KURSSKLAD/k.progressbar.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="$sps_css.KURSSKLAD/jquery.contextMenu.css"/>
<link href="$sp_css/modal.css" rel="stylesheet" type="text/css" />
<link href="$sps_css.KURSSKLAD/tabs/jquery.tabs.css" rel="stylesheet" type="text/css" media="screen"/>

<script type="text/javascript" src="$eng_js/ui.dialog.min.js"></script>
<script type="text/javascript" src="$eng_js/ui.datepicker.min.js"></script>
<script type="text/javascript" src="$eng_js/i18n/ui.datepicker-ru.js"></script>
<script type="text/javascript" src="$eng_js/jquery.maskedinput-1.2.1.pack.js"></script>
<script type="text/javascript" src="$eng_js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="$eng_js/kTblScroll.min.js"></script>
<script type="text/javascript" src="$eng_js/jquery.rightClick.min.js"></script>
<script type="text/javascript" src="$eng_js/jquery.contextMenu.min.js"></script>
<script type="text/javascript" src="$eng_js/jquery.rowFocus.min.js"></script>

<script type="text/javascript" src="$sps_js.KURSSKLAD/jquery.tabs.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/k.icons.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/k.blocks.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/k.formats.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/k.messages.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/jquery.blockUI.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/k.form.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/k.id.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/k.progressbar.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/k.helpers.js"></script>
<script type="text/javascript" src="$sps_js.TASKMANAGER/TaskManagerView.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/k.tdChk.js"></script>

<script type="text/javascript" src="$eng_js/table-jq.js"></script>
<script type="text/javascript" src="$eng_js/table-type.js"></script>

<script type="text/javascript" src="$sps_js.KURSSKLAD/nv_k.form.js"></script>
<script type="text/javascript" src="$sps_js.KURSSKLAD/jquery.maskedinput-1.2.2.js"></script>

<script type="text/javascript" src="$sp_js/newtaskcreate.js"></script>
<script type="text/javascript" src="$sp_js/loading.js"></script>
	<form class="filter_form buttons">
        Период:
        <input id="dbeg" name="dbeg" type="text" size="8" />
	    <input id="dend" name="dend" type="text" size="8" />
        <button type="submit" class=""><img src="$eng_img/arrows/arrow_right.png"></button>
	</form>
#end def

#def engineData
<div id="dvTask" style="width:100%;float:left;position:relative;overflow-x: auto;overflow-y: hidden;"></div>
<div id="dvPallet" style="width:100%;float:left;position:relative;overflow-x: auto;overflow-y: hidden;"></div>
#end def