#encoding utf-8
<table id="layout">
    <tr>
        <td id="upd_view_file_loc">$file_loc</td>
    </tr>
    <tr>
        <td id="upd_view_file_contents"><textarea readonly wrap="off">$file_contents</textarea></td>
    </tr>
</table>
