#encoding utf-8
#from systems.KURSSKLAD.cheetahutils import viewQuantity

#extends systems.KURSSKLAD.KURSTERM.templates.main
#def mainData
    <br><br>
        <u><b>$_('Выберите товар'):</b></u>
    <hr>    
    #if $varExists('$datalist') and $datalist
        #for $item in $datalist
            #if $item.SUPPLIERNAME
                $item.SUPPLIERNAME
            #end if
            (<u>$item.WCODE</u>)
            = <b>#filter Quantity$item.AMOUNT#end filter# $item.MUC</b><br>
            $item.WNAME<br>
            <a href='wuWaresUnit?wid=$item.WID&uid=$item.UID'>$item.UCODE</a>
            #if $item.VUC
                <br>
                $item.VUC = #filter Quantity$item.VUF#end filter# $item.MUC
            #end if
            <br>
            <hr>
        #end for
    #end if	
    
#end def
